a {
	color: #222;
}

.small {
	margin-bottom: 0;
}

.bold {
	font-weight: bold;
}

#header_right {
	margin-left: 10px;
	text-align:right;
}

#header_right_buttons {
	margin-top: 6px;
}

.nav_bar ul, .top_nav_bar ul {
	float: left;
	list-style: none; 
	position: relative; 
	vertical-align: middle;
	margin-bottom: 1em;
	margin-right: 0;
	padding-left: 0;
}

.nav_bar li, .top_nav_bar li {
	position: relative; 
	float: left;
	text-align: center;
}

.nav_bar li a {
	font-size: 1.1em;
	color: black;
}

.nav_bar li:first-child, .top_nav_bar li:first-child {
	border-left: solid 0px #aaa;
}

.nav_bar li, .top_nav_bar li {
	border-left: solid 1px #aaa;
/*	background: -webkit-gradient(linear, left top, left bottom, 
				from(#eee), to(#aaa));
*/}

.nav_bar li:hover {
/*	background: -webkit-gradient(linear, left top, left bottom, 
				from(#ccc), to(#888));*/
}

#footer {
	text-align: center;
}

h2 {
	margin-bottom: 0;
}

h3 {
	margin-bottom: 0;
}

#average_grade, #median_grade, #grade {
	text-align: center;
}

#average_grade h1, #median_grade h1, #grade h1 {
	border: 1px solid #eee;
	font-size: 6em;
	margin-bottom: 0;
}

/**
 * Menu
 */

/**
 * Production List
 */
table.production_list {
	padding-left: 5px;
	margin-bottom: 0em;
}

table.production_list td {
	padding-top: 0px;
	padding-bottom: 0px;
}


/**
 * Review Preview
 */
.review_preview {
	padding-left: 10px;
	text-align:left;
}

.review_preview p {
	margin-bottom: 0;
}

.review_preview .meta {
	text-align: center;
	width: 40px;
	padding-top: 1em;
	margin-left: 5px;
	padding-left: 4px;
	margin-bottom: 3em;
	border: 1px solid #eee;
}

.review_preview .content {
	padding: 0.5em;
	margin-bottom: 3em;
	border-bottom: 1px solid #eee;
}

.review_preview p.grade {
	text-align: center;
	font-size: 2.2em;
	padding-bottom: 0.5em;
}

.review_preview .date {
	line-height: 1em;
	color: #777;
}

.review_preview .title {
	font-size: 1.3em;
}

.review_preview .text {
	padding-top: 1em;
}