<script type="text/javascript">
	adminReportsIndexOnLoad();
</script>
<h2>Reports</h2>

<div id="filter">
	<a href="#" rel="show=new" class="selected button">All New</a>
	<a href="#" rel="show=spam" class="button">New Spam</a>
	<a href="#" rel="show=nonspam" class="button">New Non-Spam</a>	
	<a href="#" rel="show=all" class="button">All</a>
</div>

<div id="reports">
</div>